.container {
  background-color: #123;
  overflow: hidden;
  margin: 10px auto;
  width: 400px; }

.images {
  height: 400px;
  background-color: silver;
  overflow: hidden;
  position: relative; }
  .images .image {
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: ease-in-out;
    width: 400px;
    height: 400px;
    font-size: 250px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0; }
    .images .image.transparent {
      opacity: 0; }
